@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body { margin: 0; padding: 0; font-family: 'Pretendard-Regular'; font-style: normal; font-weight: 400; }
em { text-decoration: unset; font-style: unset; }
p { all: unset; display: block; }
#container {
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  background: #000;
  .topArea, .bottomArea {
    background: rgba(0,0,0,0.5);
    padding: 30px 0;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 150px;
      background: #fff;
      margin: 0 auto;
    }
  }
  .titleArea {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    padding: 60px;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    height: 100%;
    font-style: italic;
    pointer-events: none;
    animation: introBg 3s 2s forwards;
    opacity: 1;
    h1 {
      color: #1feeff;
      font-size: 120px;
      margin: 0;
      line-height: 1;
      animation: intro 5s forwards;
      opacity: 0;
      transform: translateY(-50px);
      filter: blur(100px);
    }
    i {
      display: block;
      margin-top: 40px;
      width: 0;
      height: 1px;
      background: #1feeff;
      opacity: 0;
      filter: blur(100px);
      animation: introLine 2.5s 0.15s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    @keyframes introLine {
      0% {
        width: 0;
        background: #fff;
      }
      30% {
        opacity: 1;
        filter: blur(0);
        background: #1feeff;
      }
      50% {
        width: 100%;
        background: #1feeff;
        opacity: 1;
      }
      100% {
        width: 0;
        background: #fff;
        opacity: 0;
        filter: blur(0);
      }
    }
    em {
      display: block;
      font-size: 20px;
      margin-top: 30px;
      color: #1feeff;
      animation: intro 3.7s 0.3s forwards;
      opacity: 0;
      transform: translateY(-30px);
      filter: blur(10px);
    }
    @keyframes introBg {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes intro {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
      }
      60% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
      }
      100% {
        opacity: 0;
        transform: translateY(0);
      }
    }
    @media screen and (max-width: 480px) {
      h1 {
        font-size: 60px;
      }
      em {
        font-size: 16px;
      }
    }
  }
}
.chat {
  font-size: 14px;
  line-height: 1.5em;
  padding: 6px 12px;
  position: relative;
  display: flex;
  align-items: flex-start;
  background: rgba(255,255,255,0.9);
  &:first-child { padding-top: 50px; }
  &:last-child { padding-bottom: 50px; }
  em {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: middle;
    pointer-events: none;
  }
  strong {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 0 20px;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: middle;
    background: #252525;
    color: #fff;
    flex-shrink: 0;
    width: 110px;
    text-align: right;
    word-break: keep-all;
    font-weight: 700;
    pointer-events: none;
  }
  span {
    line-height: 1.5em;
    margin-top: 6px;
    font-size: 13px;
    pointer-events: none;
  }
  &.desc {
    background: rgba(0,0,0,0.5);
    color: #fff;
  }
  &.miho {
    strong {
      background: #ff9800;
      color: #fff;
    }
  }
  &.miyu {
    strong {
      background: #ffaec9;
      color: #111;
    }
  }
  &.nagai {
    strong {
      background: #f44336;
      color: #fff;
    }
  }
  &.ama {
    strong {
      background: #e0e0e0;
      color: #111;
    }
  }
  &.mai {
    strong {
      background: #ffeb3b;
      color: #111;
    }
  }
}

.characterBox {
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 50%;
  z-index: 100;
  transition: all 0.3s;
  filter: drop-shadow(9px 12px 5px rgba(0,0,0,0.2));
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
  &.on {
    transform: translateY(0);
    opacity: 1;
  }
  .img {
    width: 300px;
    height: 300px;
    margin-left: 140px;
    img {
      width: 100%;
      max-height: 100%;
    }
  }
  .commentBox {
    width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    padding: 36px 24px;
    color: #fff;
    .name {
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .comment {
      font-size: 13px;
      line-height: 1.5em;
    }
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    .img {
      margin-left: 0;
    }
  }
}

.scene-title {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  //transition: all 0.3s;
  opacity: 0;
  filter: blur(20px);
  letter-spacing: 0.3em;
  pointer-events: none;
  h2 {
    font-size: 80px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'GmarketSansMedium';
    //transition: all 0.5s;
    letter-spacing: inherit;
  }
  &.on {
    //opacity: 1;
    //filter: blur(0);
    animation: scent-title 2s forwards;
  }
  @keyframes scent-title {
    0% {
      opacity: 0;
      filter: blur(20px);
    }
    50% {
      opacity: 1;
      filter: blur(0);
      letter-spacing: 1em;
    }
    100% {
      opacity: 0;
      filter: blur(20px);
      letter-spacing: 3em;
    }
  }
  
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 40px;
    }
  }
}